.projecthero {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projecthero > h1 {
  font-size: 200px;
  font-weight: lighter;
  top: 30%;
  z-index: 100;
}
.absolutePosition {
  position: absolute;
}
.projecthero > p {
  opacity: 0.5;
  margin-top: 200px;
}
* {
  cursor: auto;
}
.project1 {
  height: 110vh;
  width: 100%;
  overflow: hidden;
}
.proj2 {
  overflow: hidden;
}
.proj1 {
  overflow: hidden;
}
.proj1 > img {
  z-index: 0;
  max-height: 110vh;
  width: 100vw;
  filter: invert(0%) brightness(70%);
}
.proj1 > h1 {
position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 11;
  text-transform: uppercase;
}
.proj1 > p {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;

  opacity: 0.5;
}
.proj2 > img {
  z-index: 0;
  height: 110vh;
  width: 100vw;
  filter: invert(0%) brightness(70%);
}
.proj2 > h1 {
  position: absolute;

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 11;
  text-transform: uppercase;
}
.proj2 > p {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;

  opacity: 0.5;
}
.proj3 > img {
  z-index: 0;
  max-height: 110vh;
  width: 100vw;
  filter: invert(0%) brightness(70%);
}
.proj3 > h1 {
position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 11;
  text-transform: uppercase;
}
.proj3 > p {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;

  opacity: 0.5;
}
.titleproject {
  position: absolute;
}
.heroProject {
  height: 100vh;
  width: 100%;
}
.projTitle > p {
  opacity: 0.5;
}
.projTitle > h1 {
  font-size: 150px;
  font-weight: bold;
}
.projTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 30%;
}

.layerofproj {
  height: 100%;
  width: 100%;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.layerofproj::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background: grey;
}
.layerofproj::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background: grey;
  top: 50%;
  z-index: 0;
}
.closing-animation1 {
  animation: closeOverlay1 0.5s both;
}
@keyframes closeOverlay1 {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes Scale {
  0% {
    scale: 0;
  }
  100% {
    scale: 100%;
  }
}
.overlay1 {
  position: fixed;

  background-color: RGB(38, 38, 42);
  height: 100%;
  width: 100%;
  z-index: 150;
  animation: topdownOverlay 0.5s both;
  display: flex;
  height: 100px;
  width: 100%;
  font-size: 50px;
  color: white;
}
.parap{
  background: transparent;
  color: grey;
  opacity: 0.5;
  width: 500px;
  height:20px;
  border: none;
  z-index: 10;
  text-align: center;
  font-family: sans-serif;
}